@Config =
  maxSimulationSpeed: 120 # time in ticks between each action
  buoyImage: "<%= asset_path 'frank/buoy.gif' %>"
  shipImage: "<%= asset_path 'frank/ship.gif' %>"
  waveImage: "<%= asset_path 'frank/wave.gif' %>"
  treasureImage: "<%= asset_path 'frank/treasure.gif' %>"
  monsterImage: "<%= asset_path 'frank/monster.gif' %>"
  lineColor: '#999'
  cellHightlighting:
    hovered: 'rgba(0,0,0,0.1)'
    look: 'rgba(255,0,0,0.2)'
    maxCodeLength: 10000
  getImagesToPreload: () ->
    [
      @buoyImage
      @shipImage
      @monsterImage
      @waveImage
      @treasureImage
    ]

  getWatchListRemoveButtonHTML: (word) ->
    "<li>
      <span class='glyphicon glyphicon-remove watchlist-remove' aria-hidden='true'></span>
      #{word}
    </li>"
